$main_color: #957554;
$secondary_color: #ffffff;
$btn_color: #dfaa5b;
$fs_45: 4.5rem;
$fs_40: 4rem;
$fs_24: 2.4rem;
$ff_medium: "ubuntu medium";
$ff_regular: "ubuntu regular";
$ff_light: "ubuntu light";

$abstand_main: 3.6rem;
